/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";

@font-face {
  font-family: "Aileron-Light";
  src: font-url("Aileron-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Aileron-Thin";
  src: font-url("Aileron-Thin.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: "Aileron-Bold";
  src: font-url("Aileron-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Aileron-Regular";
  src: font-url("Aileron-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aileron-UltraLight";
  src: font-url("Aileron-UltraLight.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 body {
  margin: 0px;
  font-family: "Aileron-Regular";
 }

 #mc_embed_signup {
  font-family: "Aileron-Bold";
  font-size: 2em;
  background: #FFFFFF;
 }

 #mc_embed_signup label {
  font-size: 20px;
 }

.background {
  top: 0;
  background-image: image-url("hello2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo-overlay {
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-overlay img {
  max-width: 100%;
}

.tag-line{
  position: relative;
  height: 600px;
  width: 100%;
  text-align: right;
  vertical-align: -500px;
  background-color: #22252A;
  color: white;
  font-size: 3em;
}

.tag {
  position: absolute;
  padding-right: 10px;
  bottom: 150px;
  width: 100%;
}

.about {
  width: 100%;
  height: 500px;
  background-color: #E51B23;
}

.image-two {
  width: 100%;
  margin: 0px;
  display: flex;
}

.image-two img {
  max-width: 100%;
}

.contact {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: black;
}

.logo img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 100px;
}

.credits {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 160px;
}

.credits img {
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  padding: 3px;
}

.contact-info {
  font-family: "Aileron-Thin";
  padding-top: 150px;
  padding-right: 10px;
}

.contact-info a {
  text-decoration: none;
  color: white;
}
