<div class="about">
  <div class="brothers">
    <%= image_tag("brothers.jpg")%>
  </div>
  <div class="bio">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas sapien sit amet quam laoreet tempus. Phasellus pretium nunc maximus, tristique neque ac, tincidunt velit. Aliquam non risus vestibulum, laoreet neque vitae, dapibus magna. Integer iaculis metus quis imperdiet dapibus. Sed pellentesque ullamcorper odio, a lobortis lacus tincidunt nec. Pellentesque feugiat enim tortor, id lacinia velit mattis vitae. Donec rhoncus vitae ante bibendum rutrum. Morbi mauris nibh, egestas vitae nisi ut, aliquet venenatis ipsum. Vestibulum pharetra pretium sodales.<br><br>Aenean justo metus, euismod vitae eros ut, mattis dictum ligula. Cras at ipsum diam. Ut sagittis turpis nec scelerisque pellentesque. Nam finibus felis ultrices mi vehicula, ut vulputate elit ultricies. Nam pretium commodo lobortis. Fusce congue, velit ut vehicula porttitor, nisi leo tincidunt nunc, id commodo diam nulla vel turpis. Pellentesque vel nisl sapien. Pellentesque quam leo, cursus ac placerat interdum, hendrerit vel lacus. Curabitur viverra orci sed purus molestie fermentum. Praesent et lacinia augue. Nullam lacinia arcu sit amet cursus rutrum. Donec hendrerit vehicula dolor, vel condimentum elit finibus id. Aliquam turpis justo, rutrum non purus eu, maximus egestas massa. Praesent eleifend blandit ante id blandit. Etiam congue nibh suscipit, egestas est id, ultricies tellus.</p>
  </div>
</div>
